
<form>
<input type="text" placeholder="Enter qno" name="qno" [(ngModel)]="questio.qno"><br><br>
<input type="text" placeholder="Enter qtext" name="qtext" [(ngModel)]="questio.qtext"><br><br>

<input type="text" placeholder="Enter op1" name="op1" [(ngModel)]="questio.op1"><br><br>
<input type="text" placeholder="Enter op2" name="op1" [(ngModel)]="questio.op2"><br><br>
<input type="text" placeholder="Enter op3" name="op1" [(ngModel)]="questio.op3"><br><br>
<input type="text" placeholder="Enter op4" name="op1" [(ngModel)]="questio.op4"><br><br>
<input type="text" placeholder="Enter answer" name="answer" [(ngModel)]="questio.answer"><br><br>
<input type="text" placeholder="Enter subject" name="subject" [(ngModel)]="questio.subject"><br><br>

<input type="button" value="Add Question" (click)="addQuestion()">
</form>
